.addNew {
    width: calc(var(--uum) * 34);
    height: calc(var(--uum) * 3);
    margin: calc(var(--uum) * 1.5) auto;
}

.addNewLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
    width: 100%;
    height: 100%;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: calc(var(--uum) * 1.5);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    width: auto;
    font-weight: bold;
    font-size: calc(var(--uum) * 1);
}

.searchInput {
    margin-left: calc(var(--uum) * .6);
    padding: calc(var(--uum) * .5);
    padding-left: calc(var(--uum) * 1);
    padding-right: calc(var(--uum) * 5.2);
    box-shadow: 0 13px 15px -15px var(--black);
    width: calc(var(--uum) * 30);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    content: url("../images/technical/cross.png");
    width: calc(var(--uum) * .9);

}

.searchButton {
    padding: calc(var(--uum) * .5) calc(var(--uum) * 1);
    margin-left: calc(var(--uum) * -5);
    box-shadow: none !important;
}

.search-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--uum) * 6);
}

/*.search-block .search-by-date-wrapper {*/
/*    margin-top: calc(var(--uum) * 2);*/
/*}*/

.search-by-date form, .search-by-date-wrapper {
    display: flex;
    justify-content: space-between;
    width: calc(var(--uum) * 29);
}

.search-by-date form *, .search-by-date-wrapper * {
    height: calc(var(--uum) * 1.3);
    padding:  calc(var(--uum) * .5);
    display: flex;
    align-items: center;
}

.search-by-date input[type='date'], .search-by-date-wrapper input[type='date'] {
    box-shadow: 0 13px 15px -15px var(--black);
}

.search-by-date form input[type='submit'], .search-by-date-wrapper input[type='submit'] {
    height: calc(var(--uum) * 2.3);
}

.list {
    background: var(--white);
    width: calc(var(--uum) * 52.5);
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    border: calc(var(--uum) * .1) solid var(--main-dark-grey);
    box-shadow: 0 13px 15px -15px var(--black);
}

.list * {
    text-align: center;
}

.item, .listHeader {
    display: flex;
}

.list * * {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--uum) * .3) 0;
    font-size: calc(var(--uum) * .85);
}

.listHeader {
    text-align: center;
}

.list > div > div {
    border: calc(var(--uum) * .1) solid var(--main-dark-grey);
    border-bottom: none;
    border-right: none;
}

.listHeader > div {
    border-top: none !important;
    font-weight: bold;
}

.listName {
    width: calc(var(--uum) * 8);
    text-align: center;
    border-left: none !important;
}

.listName, .listDescription {
    padding: calc(var(--uum) * 1.4);
}

.listDescription {
    width: calc(var(--uum) * 32.2);
    text-align: justify;
}

.emailLink {
    text-align: center;
}

.update, .delete {
    width: calc(var(--uum) * 6);
}

input {
    box-shadow: none;
}

form {
    height: calc(var(--uum) * 2.5);
    width: calc(var(--uum) * 3);
    border-radius: 100px;
    box-shadow: 0 3px 5px -1px var(--black-middle-opacity), inset 0 -3px 3px -2px black;
}

.update form, .delete form {
    background: var(--white);
}

.update form:hover {
    background: var(--light-blue);
}

form:not(.search):hover input {
    filter: invert(100%);
}

.delete form:hover {
    background: var(--main-red-high-opacity);
}

.editImg {
    height: calc(var(--uum) * 1.3);
}

.deleteImg {
    height: calc(var(--uum) * 2);
}

.searchNotFound {
    margin-top: calc(var(--uum) * 4);
    text-align: center;
    font-size: calc(var(--uum) * 1.5);
}

.item a {
    color: var(--main-red);
    text-decoration: underline dotted;
}

.item a:hover {
    text-decoration: none;
}

.swal2-confirm {
    background: var(--light-blue);
    width: calc(var(--uum) * 8);
    margin-right: calc(var(--uum) * .5);
}

.swal2-cancel {
    height: calc(var(--uum) * 2);
    width: calc(var(--uum) * 6);
    margin-left: calc(var(--uum) * .5);
}

.listEmpty {
    width: calc(var(--uum) * 17.11);
}
