.list {
    width: calc(var(--uum) * 50);
}

.listDate, .listOperation, .listSum {
    width: calc(var(--uum) * 15);
    padding: calc(var(--uum) * .79);
}

.list .item div:first-child,
.list .listHeader div:first-child {
    border-left: none;
}

.listTotal {
    font-weight: bold;
    width: calc(var(--uum) * 30);
    padding: calc(var(--uum) * 1.63);
}

.listTotalProfit {
    font-weight: bold;
    width: calc(var(--uum) * 16.68);
}
